@font-face {
    font-family: rebu;
    src: url(./../../assets/rebu-font.ttf);
  }

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            font-family: rebu;
  }

  html {
      margin-top: -25px;
  }
  
  body {
    padding: 0;
    margin: 0;
  }
  
  #notfound {
    position: relative;
    margin-top: -100px;
    background-color: #222222;
    height: 100vh;
  }
  
  #notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .notfound {
    max-width: 767px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
    padding: 15px;
  }
  
  .notfound .notfound-404 {
    position: relative;
    height: 220px;
  }
  
  .notfound .notfound-404 h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 186px;
    font-weight: 200;
    margin: 0px;
    background: linear-gradient(360deg, rgb(221, 126, 97), rgba(230,74,25));
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
  }
  
  .notfound h2 {
    color: white;
    font-size: 33px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 25px;
    letter-spacing: 3px;
  }
  
  
  .notfound p {
    color: white;
    font-size: 16px;
    font-weight: 200;
    margin-top: 0px;
    margin-bottom: 25px;
  }
  
  
//   .notfound a {
//     font-family: 'Kanit', sans-serif;
//     color: #ff6f68;
//     font-weight: 200;
//     text-decoration: none;
//     border-bottom: 1px dashed #ff6f68;
//     border-radius: 2px;
//   }
  

 
  
  @media only screen and (max-width: 480px) {
    .notfound .notfound-404 {
      position: relative;
      height: 168px;
    }
  
    .notfound .notfound-404 h1 {
      font-size: 142px;
    }
  
    .notfound h2 {
      font-size: 22px;
    }
  }

  .btn-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 550px;
    display: flex;
    @media(max-width: 768px){
      flex-wrap: wrap;
    }
  }

  .btn-hero {
    align-items: center;
    background: #fff;
    border-radius: 25px;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    max-width: 250px;
    padding: 15px 15px;
    position: relative;
    transition: all .4s;
    width: 100%;
    .fas {
      left: 55px;
      opacity: 0;
      position: absolute;
      transition: all .4s;
      visibility:hidden;
    }
    &.btn-outline {
      background: none;
      border: 1px solid #fff;
      color: #fff;
      &:hover {
        .fas {
          color: #fff;
          opacity: 1;
          transition: all .4s;
          visibility:visible;
          @media (max-width: 768px) {
            display: none;
          }
        }
      }
    }

    &:hover {
      transform: translateY(-2px);
      .fas {
        visibility:visible;
        opacity: 1;
         @media (max-width: 768px) {
            display: none;
          }
        }
    }

    .fa-arrow-right {
      color: blue;
      margin-right: 10px;
    }
  }
