
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="wrapper">
  <div class="container">
    <div class="profile">
      <div class="meta">
        <img src="http://www.gravatar.com/avatar/139b01a3d3a844976802716ef3f63d7c.png" class="avatar"/>
        <h2>David Burrell</h2>
        <div class="position">CodePen.io</div>
        <div class="social">
          <a target="new" href="https://www.facebook.com/dburrell"><i class="fa fa-facebook-square"></i></a>
          <a href="https://github.com/dburrell" target="new"><i class="icon-github"></i></a>
          <a href="http://linkedin.dave.click" target="new"><i class="icon-linkedin"></i></a></div>
      </div>
      <div class="overlay"></div>
    </div>
    <div class="portfolio">
      <h1>Welcome Headline</h1>
      <p>This is a minimal and responsive about page.
      Please give much credit to <a target="new" href="https://codepen.io/DivDax/">DivDax</a> who put together the front section.<br><br>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    </div>
  </div>
  <div class="footer text-center"> <a href="https://codepen.io" target="new"><span class="label">https://codepen.io</span></a></div>
</div>


<div class="wrapper-2">
        <div class="container">
          <div class="profile">
            <div class="meta">
              <img src="http://www.gravatar.com/avatar/139b01a3d3a844976802716ef3f63d7c.png" class="avatar"/>
              <h2>David Burrell</h2>
              <div class="position">CodePen.io</div>
              <div class="social">
                <a target="new" href="https://www.facebook.com/dburrell"><i class="fa fa-facebook-square"></i></a>
                <a href="https://github.com/dburrell" target="new"><i class="icon-github"></i></a>
                <a href="http://linkedin.dave.click" target="new"><i class="icon-linkedin"></i></a></div>
            </div>
            <div class="overlay"></div>
          </div>
          <div class="portfolio">
            <h1>Welcome Headline</h1>
            <p>This is a minimal and responsive about page.
            Please give much credit to <a target="new" href="https://codepen.io/DivDax/">DivDax</a> who put together the front section.<br><br>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
          </div>
        </div>
        <div class="footer text-center"> <a href="https://codepen.io" target="new"><span class="label">https://codepen.io</span></a></div>