//$bg: #E9EDF0;
$bg: #E9EDF0;
$profile-width: 200px;

@font-face {
  font-family: title;
  src: url(src/assets/spotTitle.ttf);
}

@font-face {
  font-family: rebu;
  src: url(src/assets/rebu-font.ttf);
}

html, body {
  height: 100%;
  box-sizing: border-box;
  
}

body {
    
  color: #555;
  color: darken(desaturate($bg, 10%), 40%);
  font: 16px/22px "Proxima Nova", sans-serif;
  background: desaturate($bg, 10%);
  padding: 50px;
  overflow: hidden;

  @media (max-width: 768px) {
    padding: 30px;
  }
  @media (max-width: 420px) {
    padding: 10px;
  }
}

h1,h2 {
  margin-top: 10px;
}
h1 {
  line-height: 30px;
  color: darken(desaturate($bg, 5%), 50%);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #212121;
  margin-top: -80px;
  padding-right: 400px;

  @media (min-width: 768px) {
    height: 100%;
  }
}


.wrapper-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #212121;
    margin-top: -300px;
    padding-left: 400px;
  
    @media (min-width: 768px) {
      height: 100%;
    }
  }

.container {
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;
  transform: translateY(-40px);
  position: relative;
  box-sizing: border-box;
  width: 80%;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  max-width: 700px;
  box-shadow: 0 2px 10px rgba(0,0,0,.03);

  &.fadeIn {
    opacity: 1;
    transform: translateY(0);
  }

  @media (max-width: 768px) {
    width: 100%;
    min-width: 350px;
  }

  & > div {
    box-sizing: border-box;
    padding: 50px 30px;
    @media (max-width: 420px) {
      padding: 40px 30px !important;
    }
  }
}

.profile {
  position: absolute;
  text-align: center;
  width: $profile-width;
  color: #fff;
  //background: rgba(0,0,0,.5) url(https://s-media-cache-ak0.pinimg.com/736x/f6/35/20/f63520cc780b82c25fd91559b12f3cf6.jpg) no-repeat top;
  background: rgba(0,0,0,.5) url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85280/hi_tech_texture-wallpaper-1024x768.jpg) no-repeat top;
  background-position: 40% 20%; 
  height: 100%;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);

  .meta 
  {
    position: relative;
    z-index: 1;
  }
  .overlay 
  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.3), transparent);
  }
  .avatar 
  {
    width: 50%;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0,0,0,.4);
  }
  h2 {
    font-size: 22px;
    margin-bottom: 2px;
  }
  .position {
    font-size: 13px;
  }
  .social {
    padding-top: 15px;
    i {
      margin: 0 5px;
    }
  }
  a {
    color: #fff;
  }
}

.portfolio {
  margin-left: $profile-width;
  padding: 50px !important;
}

@media (max-width: 670px) {
  .profile {
    position: relative;
    width: 100%;
    background-size: cover;

    h2 {
      font-size: 28px;
      margin-bottom: 5px;
    }
  }
  .avatar {
    width: 80px !important;
  }
  .portfolio {
    margin: 0;
  }
}

.footer {
  color: darken(desaturate($bg, 10%), 10%);
  padding: 20px 0;
  .fa {
    font-size: 12px;
    padding: 0 5px;
  }
}
.text-center {
  text-align:center;
}
.label 
{
  display: normal;
  color: lighten(desaturate($bg, 10%), 5%);
  font-size: 11px;
  padding: 4px 8px;
  border-radius: 3px;
  background: darken(desaturate($bg, 20%), 40%);
  
}

a
{
  text-decoration:none;
}

#aboutUsTitle {
  font-family: title;
  color: #fff;
  font-size: 75px;
  padding: 40px;
  background-color: #212121;
  margin-top: -25px;
  text-align: center;
}

#aboutUsContent {
  font-family: rebu;
  color: #fff;
  font-size: 25px;
  text-align: center;
}


