<!doctype html>
<html lang="en">
<head>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
  
  
<h3>Find a place to park</h3>
<div class="search">
		<input class="center-block" (keyup)="onKeyup()" id="myInput" type="text" placeholder="search"  />
	</div>
<div class="card-deck d-flex justify-content-center" style="margin-left: auto; margin-right: auto">

  <div *ngFor="let spots of spotsData">
    
    <div class="card" style="border: none; width: 20rem; margin: 30px;">
        <img class="card-img-top" src="{{ spots.img }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ spots.title }}</h5>
          <p class="card-text">{{ spots.price}}</p>
          <a href="http://localhost:4200/chosen-spot/{{ spots._id}}" class="btn">Reserve Spot</a>
          <p class="card-text"><small class="text-muted"> Listed: {{ spots.date }} </small></p>
        </div>
      </div>



      
      </div>
  </div>

</body>