<html>

<head>
<script src="https://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
</head>

<body>
<section class="container">
        <div class="one">
          <a id="spotsText" >Spots</a>
          <hr style="width: 90%;">
                <div class="container">
                        <div class="card-deck row">
                                <div *ngFor="let spots of spotsData">

                                        <a style="padding: 50px; text-decoration: none;" routerLink="/chosen-spot/{{ spots._id}}">
                                          <div class="elevate card">
                                            <img class="card-img-top" src="{{ spots.img }}" alt="Card image cap">
                                            <div class="card-body">
                                              <h5 style="text-decoration: none;" class="card-title">{{ spots.title }}</h5>
                                              <p class="card-text">{{ spots.price}}</p>
                                              <!-- <a href="http://localhost:4200/chosen-spot/{{ spots._id}}" class="btn">Reserve Spot</a> -->
                                              <p class="card-text"><small class="text-muted"> Listed: {{ spots.date }} </small></p>
                                              <p style="text-align: center; position: absolute; bottom: -5px;"><small class="text-muted"> Click for more
                                                  information </small></p>
                                            </div>
                                          </div>
                                        </a>
                                  
                                  
                                      </div>
                      </div>
                    </div>
        </div>
        <div class="two">
        <div id="map" style="width: 100%; height: 100%;"></div>
    </div>
    </section>

</body>
    </html>