<html>

<head>
  <script src="https://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
</head>

<body>
  <section style="display:flex;  height: 100vh; padding-top: 15px;" class="flex-container">
    <div style="width:25%; padding: 5px;" class="uno">
      <!-- <a id="spotsText" >Spots</a>
          <hr style="width: 90%;">
                <div class="container">
                        <div class="card-deck row">
                                <div *ngFor="let spots of spotsData">

                                        <a style="padding: 50px; text-decoration: none;" routerLink="/chosen-spot/{{ spots._id}}">
                                          <div class="elevate card">
                                            <img class="card-img-top" src="{{ spots.img }}" alt="Card image cap">
                                            <div class="card-body">
                                              <h5 style="text-decoration: none;" class="card-title">{{ spots.title }}</h5>
                                              <p class="card-text">{{ spots.price}}</p>
                                              <p class="card-text"><small class="text-muted"> Listed: {{ spots.date }} </small></p>
                                              <p style="text-align: center; position: absolute; bottom: -5px;"><small class="text-muted"> Click for more
                                                  information </small></p>
                                            </div>
                                          </div>
                                        </a>
                                  
                                  
                                      </div>
                      </div>
                    </div> -->

      <div class="leaderboard">
        <h1>
          <!-- <svg class="ico-cup">
            <use xlink:href="#cup"></use>
          </svg> -->
          Nearby Spots
        </h1>

        <ol>
          <div *ngFor="let spots of spotsData">


            <li id="outter">
              <!-- routerLink="/chosen-spot/{{ spots._id}}" -->
              <a style="padding: 50px; text-decoration: none;">

                <img class="card-img-top spotpics" src="{{ spots.img }}" alt="Card image cap">
                <div class="card-body">
                  <h5 style="text-decoration: none;" id="spotTitle" class="card-title cardfont">{{ spots.title }}</h5>
                  <p class="card-text cardfont">{{ spots.price}}</p>
                  <p class="card-text"><small style="text-align: left;" class="text-muted cardfont"> Listed:
                      {{ spots.date }} </small></p>
                  <p style="text-align: center; position: absolute; bottom: -5px;"><small class="text-muted cardfont">
                      Click
                      for more
                      information </small></p>
                </div>

              </a>
            </li>




          </div>

        </ol>

      </div>
    </div>
    <div  style="width:75%; padding: 5px" class="dos">
      <div style="height:100; width:100%" id="map"></div>
    </div>
  </section>

</body>

</html>