/* You can add global styles to this file, and also import other style files */
@import url(https://unpkg.com/bootstrap@4.3.1/dist/css/bootstrap.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import "//codepen.io/jatinn_r/pen/OJPLZLX.css";

@font-face {
  font-family: rebu;
  src: url(src/assets/rebu-font.ttf);
}

@font-face {
  font-family: fancy;
  src: url(src/assets/Roboto-Light.ttf);
}

// * {
//   font-family: fancy;
// }



.social-btns .btn.instagram:before {
  background-color: #bf00ff;
}
.social-btns .btn.instagram .fa {
  color: #bf00ff;
}

.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}
.social-btns .btn:focus .fa,
.social-btns .btn:hover .fa {
  color: #fff;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.social-btns {
  height: 50px;
  margin: auto;
  font-size: 0;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.social-btns .btn {
  display: inline-block;
  background-color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  opacity: 0.99;
}
.social-btns .btn:before {
  content: "";
  width: 120%;
  height: 120%;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.social-btns .btn .fa {
  font-size: 50px;
  vertical-align: middle;
}

.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-btns .btn:before {
  top: 90%;
  left: -110%;
}
.social-btns .btn .fa {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.maincontent {
  background: #212121;
  padding: 50px;
  margin-top: -50px;
}

body {
  /* background: #212121; */
  margin-top: -100px;
  max-height: 330px;
  /* font-size:22px;
	line-height: 32px;
	color: #ffffff;
	word-wrap:break-word !important;
	font-family: 'Open Sans', sans-serif; */
}

#logo {
  text-align: left;
}

h1 {
  background-color: #fff;
}

h3 {
  font-size: 30px;
  text-align: center;
  color: #fff;
}

#container {
  text-align: center;
  background-color: #212121;
}

/* h3 a {
	color: #FFF;
} */

a {
  color: black;
}

h1 {
  margin-top: 100px;
  text-align: center;
  font-size: 60px;
  font-family: "Bree Serif", "serif";
}

#container {
  margin: 0 auto;
}

/* p {
	text-align: center;
} */

nav {
  margin-bottom: 25px;
  margin-top: 20px;
  background-color: #e64a19;
  position: relative;
  z-index: 1;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

nav ul li {
  display: inline-block;
  background-color: #e64a19;
}

nav a {
  display: block;
  padding: 0 10px;
  color: #fff;
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
}

nav a:hover {
  background-color: #000000;
}

/* Hide Dropdowns by Default */
nav ul ul {
  display: none;
  position: absolute;
  top: 60px;
  /* the height of the main nav */
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
  display: inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
  width: 170px;
  float: none;
  display: list-item;
  position: relative;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 170px;
}

.info-fill {
  width: 300px;
  margin: 50px;
  background-color: #fff;
}

/* Change this in order to change the Dropdown symbol */
li > a:after {
  content: " +";
}

li > a:only-child:after {
  content: "";
}

/* body {
	background-color: #111;
} */

.title {
  font-family: rebu;
  text-align: center;
  color: #fff;

  text-shadow: 1px 0 transparent;
  letter-spacing: 1px;
  font-weight: bold;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  letter-spacing: 1px;
  margin-top: -40px;
  margin-bottom: -5px;
  display: block;
  width: 100%;

  /* font-family: rebu;
    font-size: 150px;
    text-align: center;
    margin-bottom: -50px; */
}

h1 {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  /* fire:  https://media.giphy.com/media/F3LwChPI2Zj9OweyWz/giphy.gif */
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;

  font-size: 13vw;
  font-family: rebu;
  line-height: 0.75;
  letter-spacing: 10px;
  padding-bottom: 40px;
  padding-top: 50px;
}

#pointImg {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  color: transparent;
  max-width: 35px;
  position: relative;
  top: -60px;
  left: -51px;
}

.footer-top-layout {
  background: #1c1c1c none repeat scroll 0 0;
  color: #ffffff;
  padding: 40px 0;
}

.OurBlog {
  margin-bottom: 32px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.footer-top-layout h4 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 21px;
}

.OurBlog > p {
  color: #888888;
}

.post-blog-date::after {
  background: #ffffff none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 4px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 50px;
}

.post-blog-date {
  padding-bottom: 25px;
  position: relative;
}

/* body {
	color: #666666;
	font-family: "Open Sans",sans-serif;
	line-height: 24px;
  } */

.footer-top-layout [class*="col-sm-"]:first-child {
  padding: 0;
}

.footer-top-layout [class*="col-sm-"] {
  border-right: 2px solid #333333;
  padding: 0 0 0 28px;
}

.footer-top-layout {
  color: #ffffff;
}

.footer-col-item {
  min-height: 140px;
}

address {
  color: #545454;
}

.footer-top-layout [class*="col-sm-"]:last-child {
  border-right: medium none;
}

.footer-top-layout {
  color: #ffffff;
}

/* body {
	color: #666666;
	font-family: "Open Sans",sans-serif;
  
  } */
.footer-top-layout h4 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 21px;
}

.h2,
.h3,
.h4,
.h5,
.h6,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
  font-family: rebu, "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.1;
  margin-top: 0;
}

/* body {
	color: #666666;
	font-family: "Open Sans",sans-serif;
	line-height: 24px;
  } */
.footer-col-item .item-contact a {
  color: #545454;
  display: inline-block;
  margin-bottom: 7px;
  width: 100%;
}

.footer-col-item .item-contact a .link-id {
  color: #ffffff;
  margin-left: 0;
  margin-right: 6px;
}

.footer-col-item span {
  margin-left: 7px;
}

.footer-col-item .item-contact a {
  color: #545454;
}

.footer-top-layout h4 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 21px;
}

.signUpNewsletter {
  position: relative;
}

.signUpNewsletter .gt-email {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #666666;
  border-radius: 0;
  color: #ffffff;
  height: 52px;
}

.signUpNewsletter .btn-go {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-color: #666666;
  border-style: solid;
  border-width: 0 0 0 1px;
  bottom: 0;
  color: #ffffff;
  font-size: 16px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
  width: 52px;
}

.footer-bottom-layout {
  background: #222222 none repeat scroll 0 0;
  padding: 20px 0;
  text-align: center;
}

/* body {
	color: #666666;
	font-family: "Open Sans",sans-serif;
	line-height: 24px;
  } */
.socialMedia-footer {
  position: relative;
}

.socialMedia-footer > a {
  display: inline-block;
  margin: 0 8px;
}

.footer-bottom-layout {
  text-align: center;
}

.socialimg {
  // mix-blend-mode: multiply;
}

.footer-Section {
  width: 100vw;
}

.tab {
  font-family: rebu;
}

#logoutButton {
  position: absolute;
  top: 5px;
  right: 10px;
}

#myAccount {
  position: absolute;
  top: 75px;
  right: 10px;
}

.btn-hero {
  align-items: center;
  background: rgb(255, 255, 255);
  border-radius: 25px;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  justify-content: center;
  margin-right: 10px;
  margin-top: 25px;
  max-width: 100px;
  max-height: 50px;
  padding: 15px 15px;
  position: relative;
  transition: all 0.4s;
  width: 100%;
  border: 1px solid rgb(219, 97, 26);

  .fas {
    left: 55px;
    opacity: 0;
    position: absolute;
    transition: all 0.4s;
    visibility: hidden;
  }

  &.btn-outline {
    background: none;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);

    &:hover {
      .fas {
        color: #fff;
        opacity: 1;
        transition: all 0.4s;
        visibility: visible;

        @media (max-width: 768px) {
          display: none;
        }
      }
    }
  }

  &:hover {
    transform: translateY(-2px);

    .fas {
      visibility: visible;
      opacity: 1;

      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  .fa-arrow-right {
    color: blue;
    margin-right: 10px;
  }
}

//   .btn {
// 	color: #fff;
// 	cursor: pointer;
// 	// display: block;
// 	font-size:16px;
// 	font-weight: 400;
// 	line-height: 45px;
// 	margin: 0 0 2em;
// 	max-width: 160px;
// 	position: relative;
// 	text-decoration: none;
// 	text-transform: uppercase;
// 	width: 100%;

//   //   @media(min-width: 400px) {
//   //     display: inline-block;
//   //     margin-right: 2.5em;

//   //     &:nth-of-type(even) {
//   //       margin-right: 0;
//   //     }
//   //   }

// 	@media(min-width: 600px) {

// 	  margin: 0 1em 2em;

//   //     &:nth-of-type(even) {
//   //       margin-right: 2.5em;
//   //     }

//   //     &:nth-of-type(5) {
//   //       margin-right: 0;
//   //     }

// 	}

// 	&:hover { text-decoration: none; }

//   }

/////////////////////////////////
//button one
///////////////////////////////
.btn-1 {
  font-weight: 100;
  margin-bottom: -10px;

  svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  rect {
    fill: none;

    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
  }
}

.btn-1:hover {
  stroke: #fff;
  background: red;
  font-weight: 900;
  letter-spacing: 1px;

  rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  }
}

$black-100: rgba(0, 0, 0, 1);
$black-90: rgba(0, 0, 0, 0.9);
$black-80: rgba(0, 0, 0, 0.8);
$black-70: rgba(0, 0, 0, 0.7);
$black-60: rgba(0, 0, 0, 0.6);
$black-50: rgba(0, 0, 0, 0.5);
$black-40: rgba(0, 0, 0, 0.4);
$black-30: rgba(0, 0, 0, 0.3);
$black-20: rgba(0, 0, 0, 0.2);
$black-10: rgba(0, 0, 0, 0.1);

//White
$white-100: rgba(255, 255, 255, 1);
$white-90: rgba(255, 255, 255, 0.9);
$white-80: rgba(255, 255, 255, 0.8);
$white-70: rgba(255, 255, 255, 0.7);
$white-60: rgba(255, 255, 255, 0.6);
$white-50: rgba(255, 255, 255, 0.5);
$white-40: rgba(255, 255, 255, 0.4);
$white-30: rgba(255, 255, 255, 0.3);
$white-20: rgba(255, 255, 255, 0.2);
$white-10: rgba(255, 255, 255, 0.1);

//Invisible
$transparent: rgba(255, 255, 255, 0);

//COLORS
$light-grey: #e0dfe1;
$light-grey-A: #f0f0f0;
$grey: #9f9e9f;
$dark-grey: #222222;
$white: #ffffff;
$blue: #0190ec;

//BMW
$light-blue: #6295ca;
$dark-blue: #13274c;
$red: #d1253b;

//ANIMATIONS stuff
$hover: all 0.2s ease-in;
$slide: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
$slide-delay: all 0.4s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
$slide-slow: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
$zoom: all 1s cubic-bezier(0.55, 0, 0.1, 1);
$zoom-slow: all 2.4s cubic-bezier(0.55, 0, 0.1, 1);
//MIXINS
// ADDS A BROWSER PREFIX TO THE PROPERTY
@mixin css3-prefix($property, $value) {
  -webkit-#{$property}: #{$value};
  -khtml-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}
// TRANSFORM
@mixin transform($params) {
  @include css3-prefix("transform", $params);
}
//FONT IMPORT



#container1 {
  visibility: hidden;
  height: 10px;
}

body {
  background: linear-gradient(180deg, rgb(221, 126, 97), rgb(230, 74, 25));

  font-family: "Noto Sans", sans-serif;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: white;
    padding: 5px 0;
    font-family: "Noto Sans", sans-serif;
    text-align: center;
    height: 250px;
  }

  h1 {
    padding-top: 80px;
    font-size: 16vw;
  }

  #logoutButton {
    visibility: hidden;
  }
  #myAccount {
    visibility: hidden;
  }

  #container {
    visibility: hidden;
  }

  //
  #container1 {
    height: 100vh;
        width: 100vw;
        position:fixed;
        top:0;
        left:0;
    visibility: visible;
    background-color: transparent;
    margin: 0 auto;
    z-index: 4000;
    // height: 100%;
    // width: 100%;
    // position: absolute;
    // max-width: 320px;
    // min-height: 568px;
    // height: 100%;
    margin: 0 auto;
    border-radius: 8px;
  
    overflow: hidden;
    //   -webkit-box-shadow: 0px 9px 13px 0px $black-30;
    // -moz-box-shadow: 0px 9px 13px 0px $black-30;
    // box-shadow: 0px 9px 13px 0px $black-30;
    -webkit-transform: scale(1);
  }

  .menu-trigger,
  .close-trigger {
    position: absolute;
    top: 120px;
    right: 20px;
    display: block;
    width: 42px;
    height: 42px;
    cursor: pointer;
    z-index: 3233;
    color: black;

    &:hover {
      .menu-trigger-bar {
        &:before {
          width: 100%;
        }
      }

      .close-trigger-bar {
        &:before {
          width: 100%;
        }
      }
    }
  }

  .menu-trigger-bar {
    display: block;
    // z-index: 1003;
    width: 100%;
    height: 4px;
    background-color: black;
    margin-bottom: 6px;
    transform: rotate(-45deg);
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 0%;
      height: 100%;
      background-color: $black-20;
      transition: $slide;
    }

    &.top {
      width: 100%;
    }
    &.middle {
      &:before {
        left: auto;
        right: -20px;
        
      }
    }
    &.bottom {
      width: 50%;
      margin-left: 50%;
    }
  }

  .close-trigger-bar {
    display: block;
    width: 100%;
    height: 4px;
    background-color: $dark-grey;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 0%;
      height: 100%;
      background-color: $white-20;
      transition: $slide;
    }

    &.left {
      transform: translateX(100px) translateY(-100px) rotate(-45deg);
    }
    &.right {
      transform: translateX(-100px) translateY(-100px) rotate(45deg);
      top: -3px;
    }
  }

  .logo {
    display: block;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -52px;
    margin-left: -32px;
    text-align: center;
    // z-index: 10;

    span {
      display: block;
      text-align: center;
      line-height: 62px;
      font-size: 72px;
      color: $white-100;
    }
  }

  .logo-title {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    color: $dark-grey;
    font-size: 32px;
    line-height: 82x;
  }
  .logo-badge {
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
    top: 6px;
    right: -6px;
    border-radius: 100%;
    background-color: $light-blue;
    font-size: 12px;
    line-height: 2;
    text-align: center;
  }

  .inner-container,
  .menu-container {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }

  .inner-container {
    // z-index: 20;
  }
  .menu-container {
    display: flex;
    align-items: center;
  }
  .menu {
    display: block;
    width: 100%;
    padding: 20%;
    //opacity: 0;
    //visibility: hidden;

    li {
      text-align: left;
      display: block;
      padding: 15px 0;
    }

    a {
      text-decoration: none;
      color: $dark-grey;
      display: inline-block;
      padding: 10px 0;
      position: relative;

      &:hover {
        &:before {
          opacity: 1;
          transform: translateX(0px);
        }
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 18px;
        height: 4px;
        opacity: 0;
        background-color: $dark-grey;
        transform: translateX(100px);
        transition: $slide;
      }
    }
  }

  .menu-bg {
    position: absolute;
    display: block;
    width: 250%;
    left: -53%;
    top: -25%;
    //top: -25%;
    height: 40%;
    background-color: $white-100;

    &.middle {
      top: 35%;
left: -78%;
      transform: rotate(-45deg) scaleY(0);
    }
    &.top {
      left: -2%;
top: -100;
      transform: rotate(-45deg) translateY(-152%);
      //top: -25%;
    }
    &.bottom {
      //bottom: 0;
      top: 105%;
      transform: rotate(-45deg) translateY(25%);
      left: -30%;
    }
  }
}
