@font-face {
    font-family: title;
    src: url(src/assets/spotTitle.ttf);
  }

body {
    background-color: #212121;
    min-height: 500px;
    margin-top: -30px;
}

#title {
    color: azure;
    font-family: title;
    /* position: absolute;
    left: 825px;
    top: 300px; */
    font-size: 60px;
    margin-left: 50px;
}
    