<meta charset="utf-8">

<head>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>

<body>

    <h1 id="textAnim">
        <div class="animation">
            <span class="first">Listing </span>
            <span class="oh">
                <span class="second">Made Simple</span>
            </span>
        </div>
    </h1>

    <div class="loginContainer row shadow">
        <div class="col-md-4 p-0">
            <div class="loginImg">
            </div>
        </div>
        <div class="col-md-8">
            <div class="p-3 ">
                <!-- <div class="titleDiv">
                    <h2 class="pagetitle">List it</h2>
                </div> -->
                <div class="row">
                    <div class="col-md-12">
                        <section id="loginForm">
                            <form autocomplete="off" class="form-horizontal" role="form" action="/api/location/spot" method="POST" enctype="multipart/form-data">
                                
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label" for="Title">Title</label>
                                        <input autocomplete="false" placeholder="Title"
                                            class="form-control valid" id="Title" name="Title" type="text">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label" for="Address">Address</label>
                                        <input autocomplete="false" placeholder="Spots address"
                                            class="form-control valid" id="Address" name="Address" type="text">
                                    </div>
                                </div>
                                
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label" for="Price">Price</label>
                                        <input autocomplete="false" placeholder="Price per hour"
                                            class="form-control valid" id="Price" name="Price" type="text">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <img id="blah" src="../../assets/photoUploadPlaceholder.png" alt="your image" />
                                        <input id="file-upload"  type="file" name="fileUpload" accept="image/*" />

                                        <label for="imageUpload"></label>
                                    </div>
                                </div>

                                <div style="display: flex;
                                    justify-content: center;" class="col-md-12" id="checkboxes">
                                    <!-- <div style="width: 200px;">
                                            <input type="checkbox" id="optiona" name="option">
                                            <label class="checkbox" for="optiona">Electric Charging
                                              <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M 10 10 L 90 90"></path>
                                                <path d="M 90 10 L 10 90"></path>
                                              </svg>
                                            </label>
                                          </div>
                                          
                                          <div style="width: 200px;">
                                            <input type="checkbox" id="optionb" name="option">
                                            <label class="checkbox" for="optionb">Covered Spot
                                              <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M 10 10 L 90 90"></path>
                                                <path d="M 90 10 L 10 90"></path>
                                              </svg>
                                            </label>
                                          </div> -->

                                    <ul class="ks-cboxtags">
                                        <li><input type="checkbox" id="checkboxOne" value="Rainbow Dash"><label
                                                for="checkboxOne">Electric Charging</label></li>
                                        <li><input type="checkbox" id="checkboxTwo" value="Cotton Candy"><label
                                                for="checkboxTwo">Covered Parking</label></li>
                                    </ul>
                                </div>

                                <div class="form-group">
                                    <div class=" col-md-12">
                                        <div id="buttonHolder">
                                            <Button (click)="submit()" type="submit" class="btn"> List Spot </Button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </section>
                    </div>

                </div>
            </div>
        </div>

    </div>

</body>