@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
@font-face {
  font-family: title;
  src: url(src/assets/spotTitle.ttf);
}

@font-face {
  font-family: rebu;
  src: url(src/assets/rebu-font.ttf);
}



#title {
  color: azure;
  font-family: title;
  /* position: absolute;
    left: 825px;
    top: 300px; */
  font-size: 60px;
  text-align: center;
  padding-top: 50px;
  margin-bottom: -100px;
}




body {
  
  background: #212121;
}

.container {
  
  width: 100%;
  top: 100px;
  margin: 0 auto;
  position: relative;
  margin-top: -200px;
}


form {
  width: 200px;
  position: relative;
}
  
  .hidden {
      display: none;
  }
  
  .fade-in {
      opacity: 1;
      animation-name: fadeInOpacity;
      animation-iteration-count: 1;
      animation-timing-function: ease-in;
      animation-duration: 2s;
  }
  
  @keyframes fadeInOpacity {
      0% {
          opacity: 0;
      }
      100% {
          opacity: 1;
      }
  }



