@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
@font-face {
  font-family: title;
  src: url(src/assets/spotTitle.ttf);
}
$theme:       #454cad;
$dark-text:   #5f6982;


@font-face {
  font-family: rebu;
  src: url(src/assets/rebu-font.ttf);
}

.checkbox {
  color: black;
  font-size: 12px;
}


html,body{height:100%;}body{font-family: 'Open Sans';flex-direction:row;align-items:center; justify-content:center;width:100%;}html{background:#1C7EA4;}


// Required Styles
// ====================================
$font-size: 12px; // adjust accordingly
$ratio: 1; // adjust accordingly
$size: $ratio + em;
$ratio: $ratio;
$gutter: 5px; // adjust accordingly
$stroke-dash: 270;
$stroke: (
  thickness: $gutter/2,
  style: solid,
  color: lighten(rgb(230,74,25), 25%)
); // define css properties
$mark-ischecked: (
  stroke-dashoffset: 0
); // define css properties
$label-ischecked: (); // define css properties
$svg-ischecked: (background: rgb(230,74,25)); // define css properties



input[type="checkbox"] {
  height: 0;
  width: 0;
  position: absolute;
  opacity: 0;

  &:checked ~ label {
    @each $key, $value in $label-ischecked {
      #{$key}: #{$value};
    }
  }
  
  &:focus ~ label svg,
  &:checked ~ label svg {
    @each $key, $value in $svg-ischecked {
      #{$key}: #{$value};
    }
  }

  &:checked ~ label svg path {
    @each $key, $value in $mark-ischecked {
      #{$key}: #{$value};
    }
  }
}

input[type="checkbox"] ~ label {
  font-size: $font-size;
  line-height: $ratio;
  align-items: center;
  flex-direction: row-reverse;
  position: relative;
  cursor: pointer;
  color: black;
}

input[type="checkbox"] ~ label svg {
  width: $size;
  height: $size;
  border: zip(map-values($stroke)...);
  margin-right: $gutter;
  float: left;

  path {
    transition: stroke-dashoffset 440ms cubic-bezier(.69,.35,.63,.84);
    fill: none;
    stroke: white;
    stroke-dasharray: $stroke-dash;
    stroke-dashoffset: $stroke-dash;
    stroke-width: $gutter;
  }
}



#title {
  color: azure;
  font-family: title;
  /* position: absolute;
    left: 825px;
    top: 300px; */
  font-size: 60px;
  text-align: center;
  padding-top: 50px;
  margin-bottom: -75px;
}

#buttonHolder {
  text-align: center;
  margin-top: 25px;
}

.btn {
  color: rgb(245, 135, 66);
  text-decoration: none;
  border: 1px solid rgb(245, 135, 66);
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;



}

.btn:hover {
  color: rgb(245, 135, 66);
  box-shadow: 1px 1px 25px 0px rgba(245, 108, 66, 0.4);
}

.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg,
      transparent,
      rgba(245, 108, 66, 0.4),
      transparent);
  transition: all 650ms;
}

.btn:hover:before {
  left: 100%;
}


// #submitButton {

//   display:block;
//   margin-left: auto;
//   margin-right: auto;
//   background-color: rgb(230,74,25)
// }

body {
  padding: 25px;
  margin-top: -25px;
  background: #212121;
}

.container {
  transform: translateY(-40px);
  width: 100%;
  top: 100px;
  margin: 0 auto;
  position: relative;
  margin-top: -200px;
}


form {
  background-color: rgba(230, 74, 25);
  padding: 30px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.hidden {
  display: none;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@keyframes fadein {
  from { opacity: 0; transform: translateY(-40px);}
  to   { opacity: 1; transform: translateY(0px);}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; transform: translateY(-40px);}
  to   { opacity: 1; transform: translateY(0px);}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; transform: translateY(-40px);}
  to   { opacity: 1; transform: translateY(0px);}
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; transform: translateY(-40px);}
  to   { opacity: 1; transform: translateY(0px);}
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; transform: translateY(-40px);}
  to   { opacity: 1; transform: translateY(0px);}
}

.loginContainer {
  opacity: 1;
  transition: transform 1s ease, opacity 1s eas;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
  width: 700px;
  background-color: white;
  margin: auto;
  position: relative;
  margin-top: 100px;

}

label.control-label {
  margin-bottom: 5px;
  padding-left: 0;
  color: #4D535F;
  font-weight: bold;
}

.loginImg {
  height: 100%;
  width: 100%;
  background-image: url('../../assets/parking.jpg');
  // background-position: center; 
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
}

.titleDiv {
  padding: 10px;
  padding-left: 0px;
  margin-top: -10px;
  margin-bottom: -30px;
}

.pagetitle {
  transition: all 0.3s ease;
  font-size: 28px;
  font-weight: bold;
  color: rgb(250, 113, 71);
  display: inline-block;
  margin-bottom: 0px !important;
  padding-left: 6px;
}

.form-horizontal {
  margin: auto;
  padding: 10px;
  padding-top: 21px;
  background-color: white;
}

.form-control {
  margin-top: -30px;
  background-color: #EDF2F6;
  border-radius: 2px;
  border: 1px solid #E0DFDF;
}

@media (max-width: 768px) {
  .loginContainer {
    margin-top: 0% !important;
    position: relative;
    width: 90%;
    top: 100px;
    transform: inherit;
    padding: 0px;
    left: auto;
  }

  .loginImg {
    width: 100%;
    height: 70px;
    background-position: center -60px;
    background-size: cover;
    // display: none;
  }

  .loginContainer a {
    display: block;
  }

}

#textAnim {
  margin-bottom: -50px;
}


// .container {
//   display: flex;
//   justify-content: center;
//   align-content: center;
//   flex-direction: column;
//   height: 100vh;
//   width: 100vw;
//   background: #333;
// }

h1 {
  text-align: center;
}


.animation {
  text-align: center;
  text-transform: uppercase;
  font-family:rebu;
  font-size: 50px;
  letter-spacing: 1px;
  color: #fff;
  display: inline-block;
  animation: fadeIn 1.5s forwards;
  opacity: 0;
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.first {
  display: inline-block;
  animation: firstSpan 1.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
  background: #222222;
  z-index: 1;
  position: relative;
}

.oh {
  display: inline-flex;
  overflow: hidden;
  margin-left: 20px;
}

.second {
  animation: secondSpan 1.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
  font-weight: 100;
  z-index: -1;
  display: inline-block;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes firstSpan {
  0% {
    transform: translateX(50%);
  }

  60% {
    transform: translateX(50%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes secondSpan {
  0% {
    transform: translateY(-100%);
  }

  60% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(-0%);
  }
}


/* Linkedin href */
a {
  position: fixed;
  bottom: 20px;
  right: 25px;
  transition: 0.2s;
  animation: slideLeft 1.5s forwards;
  z-index: 10;
}

a:after {
  content: "";
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #fff;
  transition: 0.2s;
}

a:hover {
  opacity: 0.8;
}

a:hover::after {
  width: 100%;
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(200px);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
ul.ks-cboxtags {
  
    list-style: none;
    padding: 20px;
}
ul.ks-cboxtags li{
  display: inline;
}
ul.ks-cboxtags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    min-width: 150px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid rgb(230,74,25);
    background-color: rgb(230,74,25);
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid #e9a1ff;
}

.uploader {
  display: block;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;

  label {
    float: left;
    clear: both;
    width: 100%;
    padding: 2rem 1.5rem;
    text-align: center;
    background: #fff;
    border-radius: 7px;
    border: 3px solid #eee;
    transition: all .2s ease;
    user-select: none;

    &:hover {
      border-color: $theme;
    }
    &.hover {
      border: 3px solid $theme;
      box-shadow: inset 0 0 0 6px #eee;
      
      #start {
        i.fa {
          transform: scale(0.8);
          opacity: 0.3;
        }
      }
    }
  }

  #start {
    float: left;
    clear: both;
    width: 100%;
    &.hidden {
      display: none;
    }
    i.fa {
      font-size: 50px;
      margin-bottom: 1rem;
      transition: all .2s ease-in-out;
    }
  }
  #response {
    float: left;
    clear: both;
    width: 100%;
    &.hidden {
      display: none;
    }
    #messages {
      margin-bottom: .5rem;
    }
  }

  #file-image {
    display: inline;
    margin: 0 auto .5rem auto;
    width: auto;
    height: auto;
    max-width: 180px;
    &.hidden {
      display: none;
    }
  }
  
  #notimage {
    display: block;
    float: left;
    clear: both;
    width: 100%;
    &.hidden {
      display: none;
    }
  }

  progress,
  .progress {
    // appearance: none;
    display: inline;
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 180px;
    height: 8px;
    border: 0;
    border-radius: 4px;
    background-color: #eee;
    overflow: hidden;
  }

  .progress[value]::-webkit-progress-bar {
    border-radius: 4px;
    background-color: #eee;
  }

  .progress[value]::-webkit-progress-value {
    background: linear-gradient(to right, darken($theme,8%) 0%, $theme 50%);
    border-radius: 4px; 
  }
  .progress[value]::-moz-progress-bar {
    background: linear-gradient(to right, darken($theme,8%) 0%, $theme 50%);
    border-radius: 4px; 
  }

  input[type="file"] {
    display: none;
  }

  div {
    margin: 0 0 .5rem 0;
    color: $dark-text;
  }
  .btn {
    display: inline-block;
    margin: .5rem .5rem 1rem .5rem;
    clear: both;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    text-transform: initial;
    border: none;
    border-radius: .2rem;
    outline: none;
    padding: 0 1rem;
    height: 36px;
    line-height: 36px;
    color: #fff;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    background: $theme;
    border-color: $theme;
    cursor: pointer;
  }
}
h2 {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  line-height: 1;
  color: $theme;
  margin-bottom: 0;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: $dark-text;
}

img{
  max-width:180px;
  object-fit: cover;
}


#blah {
  cursor: pointer;
  border: 5px solid white;
  border-radius: 25px;
}

#file-upload {
  display: none;
}