<body>

  <div id="spotTest">
    <div id=status>Listing your spot..</div>
    <div class="circle-loader">
      <div class="checkmark draw"></div>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="640" height="640">
    <defs>
      <path d="M544.69 589.98V83.55H86.99v506.43" id="b" />
    </defs>
    <filter id="a" x="78.99" y="75.55" width="474.69" height="523.43" filterUnits="userSpaceOnUse"
      primitiveUnits="userSpaceOnUse">
      <feFlood />
      <feComposite in2="SourceAlpha" operator="in" />
      <feGaussianBlur stdDeviation="1" />
      <feOffset dx="1" dy="1" result="afterOffset" />
      <feFlood flood-color="#fff" flood-opacity="1" />
      <feComposite in2="afterOffset" operator="in" />
      <feMorphology operator="dilate" />
      <feComposite in2="SourceAlpha" operator="out" />
    </filter>
    <path d="M544.69 589.98V83.55H86.99v506.43" fill="none" stroke="#fff" filter="url(#a)" />
    <g>
      <use xlink:href="#b" fill-opacity="0" stroke="#fff" stroke-width="9" />
    </g>
  </svg>


  <!-- <div class="container">
                <div class="printer-top"></div>
                  
                <div class="paper-container">
                  <div class="printer-bottom"></div>
              
                  <div class="paper">
                    <div class="main-contents">
                      <div class="success-icon">&#10004;</div>
                      <div class="success-title">
                        Spot Listed!
                      </div>
                      <div class="success-description">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
                      </div>
                      <div class="order-details">
                        <div class="order-number-label">Order Number</div>
                        <div class="order-number">123456789</div>
                      </div>
                      <div class="btn-container">
                            <a href="/spots" class="btn btn-hero btn-outline">
                              <i class="fas fa-arrow-right"></i> View Spot </a
                            >
                            <a href="/home" class="btn btn-hero btn-outline">
                              <i class="fas fa-arrow-right"></i> Return Home</a
                            >
                          </div>
                      <div class="order-footer">Thank you!</div>
                      
                    </div>
                    <div class="normal-line"></div>
                    <div class="jagged-edge"></div>
                  </div>
                </div>
              </div> -->

</body>