<div class="panel">
    <img class="panel__avatar" src="http://icons.iconarchive.com/icons/jonathan-rey/simpsons/256/Bart-Simpson-01-icon.png" alt="avatar" />
    <form action="" method="post" class="inputs">
      <div class="inputs__item">
        <label for="previous-password" class="inputs__label">Previous password</label>
        <input type="password" class="inputs__input" id="previous-password" value="password" />
      </div>
      <div class="inputs__item inputs__item--new">
        <label for="new-password" class="inputs__label">New password</label>
        <input type="password" class="inputs__input" id="new-password" value="password" />
      </div>
      <div class="inputs__item inputs__item--cta">
        <input type="submit" class="btn" value="RESET" />
      </div>
    </form>
  </div>