<div class="panel">
    <img class="panel__avatar" src="https://instagram.fbos1-1.fna.fbcdn.net/vp/3b1542f7cc9fd8076ee56e25d252844c/5E7C3866/t51.2885-19/s150x150/75223587_1010933065908724_781728895920504832_n.jpg?_nc_ht=instagram.fbos1-1.fna.fbcdn.net" alt="avatar" />
    <!-- src="https://instagram.fbos1-1.fna.fbcdn.net/vp/3b1542f7cc9fd8076ee56e25d252844c/5E7C3866/t51.2885-19/s150x150/75223587_1010933065908724_781728895920504832_n.jpg?_nc_ht=instagram.fbos1-1.fna.fbcdn.net" -->
    <form action="" method="post" class="inputs">
      <div class="inputs__item">
        <label for="previous-password" class="inputs__label">Previous password</label>
        <input type="password" class="inputs__input" id="previous-password" value="password" />
      </div>
      <div class="inputs__item inputs__item--new">
        <label for="new-password" class="inputs__label">New password</label>
        <input type="password" class="inputs__input" id="new-password" value="password" />
      </div>
      <div class="inputs__item inputs__item--cta">
        <input type="submit" class="btn" value="RESET" />
      </div>
    </form>
  </div>