@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');



@font-face {
  font-family: rebu;
  src: url(/src/assets/rebu-font.ttf);
}

:root{
  --spacing: 1.5;
  --spacing-standard: 1.5rem;
  --spacing-standard-half: 0.75rem;
  --main-color: hsl(352, 90%, 74%);
   --main-color-lighter: hsl(352, 75%, 85%);
  --second-color: hsla(182, 53%, 65%, 1);
  --font-family: 'Roboto', sans-serif;
  --settings-border-color: hsla(0, 0%, 0%, 0.08);
  --settings-children-border-color: hsla(0, 0%, 0%, 0.05);
}

.form-horizontal{
  padding: 10px;
}
.control-label{
  color: black;
}

.screen {
  text-align: center;
  position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    color: white; background: #666666;
    z-index: 1000;


  overflow: hidden;  
  margin: auto;
  width: 320px;
  height: 500px;
  background-color: hsl(0, 21%, 98%);
  border-radius: 5px;
  box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.4);
}

.screen__info {
  position: relative;  
  padding: var(--spacing-standard-half) 0;
  border-bottom: solid 2px var(--main-color);
}
.screen__back {
  position: absolute;
  left: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.screen__back__path {
  fill-opacity: 0.7;
}
.settings__continue {
  position: relative;
  padding: var(--spacing-standard-half);
  margin: 0;
  border-bottom: solid 1px var(--settings-border-color);
}
.settings__continue__icon {
  position: absolute;
  display: inline-block;
  right: var(--spacing-standard-half);
  top: 0;
  color: hsla(0, 0%, 0%, 0.7);
  font-size: 2rem;
}
.screen__title{
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
}
.settings {
  border: 0;
  margin: 0;
  padding: 0;
  border-bottom: solid 1px var(--settings-border-color);
}
.settings__info {
  padding: var(--spacing-standard-half);
  margin: 0;
}
.settings__input--radio {
  clear: both;
  display: block;
  float: left;
  margin: 5px 0 0 0;
}


.settings__tick-group {
  position: relative;
  height: 27px;
  padding: var(--spacing-standard-half);   
  border-top: solid 1px var(--settings-children-border-color);  
}
.settings__input--radio--tick {
    position: absolute;
    right: var(--spacing-standard-half);
}
.settings__label--radio--tick {
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  width: 100%;
  padding-right: 65px;
  padding-left: var(--spacing-standard);
  cursor: pointer;
}

.settings__tick__display {
  position: absolute;
  right: var(--spacing-standard-half);
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid hsl(0, 0%, 80%);
  background-color: hsl(0, 0%, 95%);
}
.settings__tick__display:before {
  content: "";
  position: absolute;
  left: 14%;
  top: 10%;
  height: 75%;
  width: 75%;
  background-color: hsl(0, 0%, 95%);
  border-radius: 50%;
  transition: background-color 0.12s ease-in-out;
}
.settings__input--radio--tick:checked ~ .settings__tick__display {
  border: 1px solid var(--main-color);
}
.settings__input--radio--tick:checked ~ .settings__tick__display:before {    
    background-color: var(--main-color);
 }  

/* ON/OFF Switch */
.settings__toggle-group {
  position: relative;
  height: 27px;
  padding: var(--spacing-standard-half);
  border-top: solid 1px var(--settings-border-color);  
}
.settings__input--checkbox--toggle{
  position: absolute;
  right: var(--spacing-standard-half);
}
.settings__label--checkbox--toggle {
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  width: 100%;
  padding-right: 65px;
  cursor: pointer;
}
.settings__toggle {
  position: absolute;
  width: 55px;
  font-size: 80%;
  right: var(--spacing-standard-half);
}
.settings__toggle__display {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 20px;
  margin: 0;  
}
.settings__toggle__inner {
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.15s ease-in-out;
  -o-transition: margin 0.15s ease-in-out;
  -moz-transition: margin 0.15s ease-in-out;
  transition: margin 0.15s ease-in-out;
}

.settings__input--checkbox--toggle:checked ~ .settings__toggle .settings__toggle__inner{
   margin-left: 0;
 }  
.settings__input--checkbox--toggle:checked ~ .settings__toggle  .settings__toggle__switch {
  right: -4px;
}
.settings__toggle__inner:before,
.settings__toggle__inner:after{
  box-sizing: border-box;
  float: left;
  width: 50%;
  height: 24px;
  padding: 0;
  line-height: 24px;
  font-size: 90%;
  font-weight: bold;
  background-color:  solid hsl(0, 0%, 80%);
}
.settings__toggle__inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: var(--main-color);
  color: hsl(0, 100%, 100%);
  text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.8);
}
.settings__toggle__inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 24%);
  text-align: right;
}
.settings__toggle__switch {
  width: 28px;
  height: 28px;
  margin: 0;
  background: var(--second-color);
  box-shadow: 1px 1px 3px hsla(0, 0%, 0%, 0.2);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: -1px;
  bottom: 0;
  right: 32px;
  -webkit-transition: right 0.15s ease-in-out;
  -o-transition: right 0.15s ease-in-out;
  -moz-transition: right 0.15s ease-in-out;
  transition: right 0.15s ease-in-out;
}



#closemenutext {
  font-family: rebu;
}

.outterbox {
	position: relative;
	display: inline-block;
}

.outterbox:hover .edit {
	display: block;
}

.edit {
	margin-top: -10px;	
	margin-right: -10px;
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}

.edit a {
	color: #000;
}



.closeMenu{
  position: absolute;
  width: 20px;
}
 

.nav-pills > li > a {
  border-radius: 0;
}

#wrapper {
  position: relative;
    overflow: hidden;
  padding-left: 0;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
}

#wrapper.toggled {
  padding-left: 250px;
  overflow: hidden;
}

#sidebar-wrapper {
  z-index: 1000;
  position: absolute;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  position: absolute;
  padding: 15px;
  width: 100%;
  overflow-x: hidden;
}

.xyz {
  min-width: 360px;
}

#wrapper.toggled #page-content-wrapper {
  position: relative;
  margin-right: 0px;
}

.fixed-brand {
  width: auto;
}
/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 2px;
}

.sidebar-nav li {
  text-indent: 15px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #ffffff;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: rgb(250,74, 25);
  background: rgba(255, 255, 255, 0.2);
  border-left: rgb(250,74, 25) 2px solid;
}

.sidebar-nav li a {
  background: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
  
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.no-margin {
  margin: 0;
}

@media (min-width: 768px) {
  #wrapper {
     padding-left: 250px;
  }
  .fixed-brand {
     width: 250px;
  }
  #wrapper.toggled {
     padding-left: 0;
  }
  #sidebar-wrapper {
     width: 250px;
  }
  #wrapper.toggled #sidebar-wrapper {
     width: 250px;
  }
  #wrapper.toggled-2 #sidebar-wrapper {
     width: 50px;
  }
  #wrapper.toggled-2 #sidebar-wrapper:hover {
     width: 250px;
  }
  #page-content-wrapper {
     padding: 20px;
     position: relative;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
  }
  #wrapper.toggled #page-content-wrapper {
     position: relative;
     margin-right: 0;
     padding-left: 250px;
  }
  #wrapper.toggled-2 #page-content-wrapper {
     position: relative;
     margin-right: 0;
     margin-left: -200px;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
     width: auto;
  }
}



.col-sm-5 {
    margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}


.card {
  border: 1px solid rgb(0, 0, 0);
  background-color: white;
  width: 15rem;
  margin: 20px;
}

.card-title {
  color: black;
}

.card-text {
  color: black;
}

.wrap {
  display: none;
  height: 0px;
}

body {
  margin-top: -25px;
  padding-bottom: 70px;
  background-color: #222222;
}

.card-body {
 
}
#spotsTitle {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-size: 50px;
  text-align: center;
  padding-top: 50px;
}

.elevate {

  text-decoration: none;
background: white;
height: 250px;
width: 200px;
margin: 15px;
border-radius: 20px;
margin-bottom: 8%;
cursor: pointer;
box-shadow: 0 0 10px rgba(0,0,0,.5);
transition: all .5s;
&:hover {
  
  box-shadow: 0 8px 8px rgb(255, 124, 84);
  margin-top: 5px;
}
}

.card-img-top{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#menu-toggle-2 {
  position: absolute;
  top: 375px;
  left: 10px;
  z-index: 1001;
}

#profile {
  color:white;
  font-size: 30px;
  margin-bottom: 50px;
  margin-top: 15px;
  margin-left: 70px;
  
}


@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

@mixin object($width, $height, $bg) {
	width: $width;
	height: $height;
	background: $bg;
}

@mixin transPos($top, $right, $bottom, $left,$transX,$transY) {
	position: absolute;
	top: $top;
	left: $left;
	right: $right;
	bottom: $bottom;
	transform:translate($transX,$transY);
}

@media only screen and (max-width: 600px) {

	.userAvatar {
		display: none;
	}

	.notifHeader{
		display: none;
	}

	.notifHeaderMobile {
			height:100px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.userAvatarMobile {
				
				@include object(100px,100px,null);
				img{
					border-radius:100%;
					width:100%;
					cursor:pointer;
				}
			}
			.options {
				text-align: right;
				i {
					
					width:100px;
					color:#fff;
					cursor:pointer;
				}
			}
		}
	

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


body {
	height:100vh;
	display: flex;
	justify-content:center;
	align-items:center;
}

::-webkit-scrollbar{
	display: none;
}


.wrap {
	display: inline;
	@include object(375px,640px,#0D1019);
	font-family: "Open Sans", sans-serif;
	position: relative;
	top: 30px;
	overflow: hidden;
	.app {
		@include object(375px,640px,null);
		overflow-y: scroll;
		.statusBar {
			position: fixed;
			z-index: 10;
		}
		header {
			padding:25px 16px 0 16px;
			.notifHeader {
				height:50px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				.userAvatar {
					@include object(35px,35px,null);
					img{
						border-radius:50%;
						width:100%;
						cursor:pointer;
					}
				}
				.options {
					text-align: right;
					i {
						width:50px;
						color:#fff;
						cursor:pointer;
					}
				}
			}
			.timeStamp{
				display: flex;
				justify-content: space-between;
				margin: 20px 0;
				.greet {
					color:#fff;
					p {					
						font-size: 16px;
						margin-bottom: 10px;
						letter-spacing: 0.5px;
					}
					h1 {
						font-size: 40px;
						font-weight: 500;
					}
				}
				.dayIcon {
					@include object(52px,52px,null);
					i {
						font-size: 60px;
						margin-left: -5px;
						color:yellow;
					}
				}
			}
		}
		.reminders {
			padding:0 16px;
			color:#fff;
			
			.halfWidth {
				display: flex;
				justify-content: space-between;
				.todo {
					@include object(48%,160px,null);
					border-radius:10px;
					position: relative;
					span {
						font-size: 72px;
						font-weight: 300;
						margin: 0 16px;
						line-height: 90px;
					}
					.fa {
						@include transPos(20px,20px,null,null,null,null);
					}
					p,h4 {
						padding-left: 16px;
					}
					.line {
						height: 2px;
						margin-top: 10px;
						background: rgba(#fff, 0.3);
					}
					h4 {
						font-weight: 600;
						line-height: 40px;
						cursor:pointer;
					}
					&:first-child {
						background: rgb(252, 107, 62);
					}
					&:last-child {
						background: rgb(30, 168, 242);
					}
				}
			}
			.fullWidth {
				.todo {
					@include object(100%,160px,rgb(255, 162, 0));
					border-radius:10px;
					margin-top: 15px;
					position: relative;
					span {
						font-size: 72px;
						font-weight: 300;
						margin: 0 16px;
						line-height: 116px;
						float:left;
					}
					.fa {
						@include transPos(20px,20px,null,null,null,null);
					}
					p {
						padding-top:72px; 
					}
					.line {
						height: 2px;
						margin-top: 10px;
						background: rgba(#fff, 0.3);
						clear:both;
					}
					h4 {
						font-weight: 600;
						padding-left:16px; 
						line-height: 40px;
						cursor:pointer;
					}
				}
			}
		}
		.publicActivity {
			@include object(600px,auto,#1E1F27);
			margin: 16px 0;
			padding: 16px 0 16px 16px;
			overflow-x: auto;
			white-space: nowrap;
			display: flex;
			.card{
				@include object(240px,160px,#fff);
				float:left;
				border-radius: 10px;
				&:first-child {
					margin-right: 16px;
				}
				.userAvatar{
					@include object(32px,32px,null);
					margin: 16px;
					margin-bottom: 10px;
					float:left;
					img {
						width:100%;
						border-radius:50%;
						cursor:pointer;
					}
				}
				.userName{
					margin-top: 25px;
					font-weight: 600;
					font-size: 14px;
						cursor:pointer;
				}
				.text{
					clear:both;
					line-height: 24px;
					margin: 0 16px;
					font-size: 20px;
				}
				.line {
					height: 2px;
					margin-top: 10px;
					background: rgba(0, 0, 0, 0.1);
				}
				.action{
					.activityIcon{
						@include object(42px,42px,null);
						text-align: center;
						float:left;
						i {
							line-height: 42px;
							color:#99cc66;
							cursor:pointer;
						}
					}
					span{
						color:#99cc66;
						font-weight: 600;
						font-size: 14px;
						cursor:pointer;
						line-height: 42px;
					}
				}
			}
		}
		.friends{
			@include object(100%,300px,null);
			padding:0 16px;
			margin: 16px 0;
			.title {
				font-size:14px;
				color: rgba(#fff,0.4);
			}
			.card {
				@include object(100%,422px,#fff);
				border-radius:10px;
				margin-top: 16px;
				.cardCol {
					height:auto;
					border-bottom: 2px solid rgba(#000,0.1);
					&:last-child {
						border-bottom: none;
					}
					.userAvatar {
						@include object(30px,30px,null);
						float:left;
						margin: 16px 16px 5px 16px;
						img{
							width:100%;
							border-radius:50%;
							cursor:pointer;
						}
					}
					.userName{
						padding-top: 26px;
						font-weight: 600;
						font-size: 14px;
					}
					span{
						float:right;
						margin: -15px 15px 0 0;
						font-size:14px;
						cursor:pointer;
						color:#99cc66;
						font-weight: 600;
					}
					.activity{
						line-height: 24px;
						margin: 0 16px;
						font-size: 18px;
						clear:both;
						padding-bottom: 16px;
						opacity: 0.7;
					}
				}
			}
		}
		.empty {
			@include object(100%,216px,null);
		}
	}
	.tabs {
		@include object(100%,60px,#161724);
		@include transPos(null,null,0,0,null,null);
		display: flex;
		justify-content: space-between;
		.tab {
			width:25%;
			text-align: center;
			line-height: 70px;
			cursor:pointer;
			transition:0.4s ease-in-out;
			&:first-child {
				background: darken(#161724,5%);
			}
			&:hover  {
				background: darken(#161724,5%);
			}
		}
	}
}

@media screen and(max-width:380px) {
	.wrap {
		@include object(100vw,100vh,#0D1019);
		.app {
			width:inherit;
			height:inherit;
			overflow-x:hidden;
		}
	}
}
}

.user-avatar {
	display: inline-block;
	float:left;
	width: 36px;
	height: 36px;
	margin: 5px;
	line-height: 36px;
	border-radius: 50%;
	background-size: cover;
	font-weight: 100;
	font-size: 18px;
	text-align: center;
	text-shadow: 0 0 2px rgba(0,0,0,.9);
	color: white;
	&.-initial {
	  background-color: black;
	}
	&.-large {
	  width: 64px;
	  height: 64px;
	  line-height: 64px;
	  font-size: 32px;
	}
	&.-medium {
	  width: 48px;
	  height: 48px;
	  line-height: 48px;
	  font-size: 24px;
	}
	&.-small {
	  width: 24px;
	  height: 24px;
	  line-height: 24px;
	  font-size: 12px;
	}
	&.-icon {
	  width: 16px;
	  height: 16px;
	  line-height: 16px;
	  font-size: 8px;
	  font-weight: normal;
	}
	&.-online-ring {
	  box-shadow: inset 0 0 0 2px rgb(255, 255, 255);
	}
	&.-online-bubble {
	  position: relative;
	  &:after {
		content: "";
		width: 18px;
		height: 18px;
		background: rgb(254, 117, 79);
		border: 3px solid #fff;
		display: inline-block;
		position: absolute;
		top: 70%;
		left: 72%;
		border-radius: 50%;
	  }
	}
  }
  .col-md-12 {
	padding:10px;
  }
  
  @keyframes spinner {
	0% { transform: rotateZ(0deg); }
	100% { transform: rotateZ(359deg); }
  }

  $primary: rgb(211, 75, 25);
  
  * {
	box-sizing: border-box;
  }
  
  .wrapper {
	display: flex;
	align-items: center;
	flex-direction: column; 
	justify-content: center;
	width: 100%;
	min-height: 100%;
	padding: 75px;
	background: #222222;
  }
  
  
  .login {
	
	border-radius: 2px 2px 5px 5px;
	padding: 10px 20px 20px 20px;
	width: 90%;
	max-width: 320px;
	background: #ffffff;
	position: relative;
	padding-bottom: 80px;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
	
	&.loading {
	  button {
		max-height: 100%;
		padding-top: 50px;
		.spinner {
		  opacity: 1;
		  top: 40%;
		}
	  }  
	}
	
	&.ok {
	  button {
		background-color: #8bc34a;
		.spinner{
		  border-radius: 0;
		  border-top-color: transparent;
		  border-right-color: transparent;
		  height: 20px;
		  animation: none;
		  transform: rotateZ(-45deg);
		}
	  }
	}
	
	input {
	  display: block;
	  padding: 15px 10px;
	  margin-bottom: 10px;
	  width: 100%;
	  border: 1px solid #ddd;
	  transition: border-width 0.2s ease;
	  border-radius: 2px;
	  color: #222222;
	  
	  &+ i.fa {
		  color: #fff;
		font-size: 1em;
		position: absolute;
		margin-top: -47px;
		opacity: 0;
		left: 0;
		transition: all 0.1s ease-in;
	  }
	  
	  &:focus {
		&+ i.fa {
		  opacity: 1;
		  left: 30px;
		transition: all 0.25s ease-out;
		}
		outline: none;
		color: #444;
		border-color: $primary;
		border-left-width: 35px;
	  }
	  
	}
	
	a {
	 font-size: 0.8em;   
	  color: $primary;
	  text-decoration: none;
	}
	
	.title {
	  color: #444;
	  font-size: 1.2em;
	  font-weight: bold;
	  margin: 10px 0 30px 0;
	  border-bottom: 1px solid #eee;
	  padding-bottom: 20px;
	}
	
	button {
	  width: 100%;
	  height: 100%;
	  padding: 10px 10px;
	  background: $primary;
	  color: #fff;
	  display: block;
	  border: none;
	  margin-top: 20px;
	  position: absolute;
	  left: 0;
	  bottom: 0;
	  max-height: 60px;
	  border: 0px solid rgba(0,0,0,0.1);
	border-radius: 0 0 2px 2px;
	  transform: rotateZ(0deg);
	  
	  transition: all 0.1s ease-out;
		border-bottom-width: 7px;
	  
	  .spinner {
		display: block;
		width: 40px;
		height: 40px;
		position: absolute;
		border: 4px solid #ffffff;
		border-top-color: rgba(255,255,255,0.3);
		border-radius: 100%;
		left: 50%;
		top: 0;
		opacity: 0;
		margin-left: -20px;
		margin-top: -20px;
		animation: spinner 0.6s infinite linear;
		transition: top 0.3s 0.3s ease,
				  opacity 0.3s 0.3s ease,
				  border-radius 0.3s ease;
		box-shadow: 0px 1px 0px rgba(0,0,0,0.2);
	  }
	  
	}
	
	  &:not(.loading) button:hover {
		box-shadow: 0px 1px 3px $primary;
	  }
	  &:not(.loading) button:focus {
		border-bottom-width: 4px;
	  }
	  
	
  }

  @import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext');


a, a:hover {
  text-decoration: none;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}


.profile-card {
  width: 100%;
  min-height: 460px;
  // margin: auto;
  
  box-shadow: 0px 8px 60px -10px rgba(13,28,39,0.6);
  background: #fff;
  border-radius: 12px;
  max-width: 500px;
  position: relative;
  margin-top: 125px;
  margin-bottom: 100px;

  &.active {
    .profile-card__cnt {
      filter: blur(6px);
    }

    .profile-card-message,
    .profile-card__overlay {
      opacity: 1;
      pointer-events: auto;
      transition-delay: .1s;
    }

    .profile-card-form {
      transform: none;
      transition-delay: .1s;
    }
  }

  &__img {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 4;
    box-shadow: 0px 5px 50px 0px rgb(235, 104, 65), 0px 0px 0px 7px rgb(255, 116, 74);

    @media screen and (max-width: 576px) {
      width: 120px;
      height: 120px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }

  }

  &__cnt {
    margin-top: -35px;
    text-align: center;
    padding: 0 20px;
    padding-bottom: 40px;
    transition: all .3s;
  }

  &__name {
    font-weight: 700;
    font-size: 24px;
    color: rgb(255, 116, 74);
    margin-bottom: 15px;
  }

  &__txt {
    font-size: 18px;
    font-weight: 500;
    color: #324e63;
    margin-bottom: 15px;

    strong {
      //color: #ff2846;
      font-weight: 700;
    }

  }

  &-loc {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;

    &__icon {
      display: inline-flex;
      font-size: 27px;
      margin-right: 10px;
      //color: #6944ff;
    }

  }

  &-inf {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 35px;

    &__item {
      padding: 10px 35px;
      min-width: 150px;

      @media screen and (max-width: 768px) {
        padding: 10px 20px;
        min-width: 120px;
      }

    }

    &__title {
      font-weight: 700;
      font-size: 27px;
      //color: #6944ff;
      color: #324e63;
    }

    &__txt {
      font-weight: 500;
      margin-top: 7px;
    }

  }

  &-social {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &__item {
      display: inline-flex;
      width: 55px;
      height: 55px;
      margin: 15px;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      color: #fff;
      background: #405de6;
      box-shadow: 0px 7px 30px rgba(43,98,169,0.5);
      position: relative;
      font-size: 21px;
      flex-shrink: 0;
      transition: all .3s;

      @media screen and (max-width: 768px) {
        width: 50px;
        height: 50px;
        margin: 10px;
      }

      @media screen and (min-width: 768px){
        &:hover {
          transform: scale(1.2);
        }
      }

      &.facebook {
        background: linear-gradient(45deg, #3b5998, #0078d7);
        box-shadow: 0px 4px 30px rgba(43, 98, 169, 0.5);
      }

      &.twitter {
        background: linear-gradient(45deg, #1da1f2,#0e71c8);
        box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.7);
      }

      &.instagram {
        background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
        box-shadow: 0px 4px 30px rgba(120, 64, 190, 0.6);
      }

      &.behance {
        background: linear-gradient(45deg, #1769ff, #213fca);
        box-shadow: 0px 4px 30px rgba(27, 86, 231, 0.7);
      }

      &.github {
        background: linear-gradient(45deg, #333333, #626b73);
        box-shadow: 0px 4px 30px rgba(63, 65, 67, 0.6);
      }

      &.codepen {
        background: linear-gradient(45deg, #324e63, #414447);
        box-shadow: 0px 4px 30px rgba(55, 75, 90, 0.6);
      }

      &.link {
        background: linear-gradient(45deg, #d5135a, #f05924);
        box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.6);
      }

    }

    .icon-font {
      display: inline-flex;
    }

  }

  &-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

    @media screen and (max-width: 576px) {
      flex-wrap: wrap;
    }

  }

  &__button {
    background: none;
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 19px;
    margin: 5px 15px;
    padding: 15px 40px;
    min-width: 201px;
    border-radius: 50px;
    min-height: 55px;
    color: #fff;
    cursor: pointer;
    backface-visibility: hidden;
    transition: all .3s;

    @media screen and (max-width: 768px) {
      min-width: 170px;
      margin: 15px 25px;
    }

    @media screen and (max-width: 576px) {
      min-width: inherit;
      margin: 0;
      margin-bottom: 16px;
      width: 100%;
      max-width: 300px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:focus {
      outline: none!important;
    }

    @media screen and (min-width: 768px) {
      &:hover {
        transform: translateY(-5px);
      }
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &.button--blue {
		background: linear-gradient(45deg, rgb(245, 132, 98), rgb(230, 75, 25));
		box-shadow: 0px 4px 30px rgba(255, 116, 74, 0.35);
  
		&:hover {
		  box-shadow: 0px 7px 30px rgba(255, 116, 74, 0.75);
		}
  

    }

    &.button--orange {
		background: linear-gradient(45deg, rgb(245, 132, 98), rgb(230, 75, 25));
		box-shadow: 0px 4px 30px rgba(255, 116, 74, 0.35);
  
		&:hover {
		  box-shadow: 0px 7px 30px rgba(255, 116, 74, 0.75);
		}
  
    }

    &.button--gray {
      box-shadow: none;
      background: #dcdcdc;
      color: #142029;
    }

  }

  &-message {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 130px;
    padding-bottom: 100px;
    opacity: 0;
    pointer-events: none;
    transition: all .3s;
  }

  &-form {
    box-shadow: 0 4px 30px rgba(15, 22, 56, 0.35);
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 35px;
    transform: scale(.8);
    position: relative;
    z-index: 3;
    transition: all .3s;

    @media screen and (max-width: 768px) {
      max-width: 90%;
      height: auto;
    }

    @media screen and (max-width: 576px) {
      padding: 20px;
    }

    &__bottom {
      justify-content: space-between;
      display: flex;

      @media screen and (max-width: 576px) {
        flex-wrap: wrap;
      }

    }

  }

  textarea {
    width: 100%;
    resize: none;
    height: 210px;
    margin-bottom: 20px;
    border: 2px solid #dcdcdc;
    border-radius: 10px;
    padding: 15px 20px;
    color: #324e63;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
    outline: none;
    transition: all .3s;

    &:focus {
      outline: none;
      border-color: #8a979e;
    }

  }

  &__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    background: rgba(22, 33, 72, 0.35);
    border-radius: 12px;
    transition: all .3s;
  }

}



#buttonwrapper {
  display: flex;    /* Magic begins */
  flex-wrap: wrap;  /* Allow multiple lines */
}
#buttonwrapper > div {
  // flex: 1;          /* Distribute space equally among the flex items */
  // min-width: 0px; /* But force them to be at least300px wide */
  // border: 1px solid;
  
}


#firstbutton {
  padding-right: 5px;
}
#secondbutton {
  padding-left: 5px;
}




#flexcontainer {
  display: flex;
  flex-wrap: wrap;
  padding-right: 50px;
  margin-left: -20px
}

#spotsflex {
  width: 50%;
  flex-grow: 0;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
  display: flex;
}

#profileflex {
  width: 50%;
  flex-grow: 0;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-right: -20px;

}

#listerInfo {
  width: 25%;
  flex-grow: 0;
  flex-shrink: 1;
  flex-direction: column;

  display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

#review {
  width: 75%;
  flex-grow: 0;
  flex-shrink: 1;

}

.feedback {
  .details {
    display: flex;
    padding: 20px;
    text-align: left;
    p{
      font-size: (14/16) + em;           
    }
    .image {
      float: left;

    }
    .meta {
      text-align: right;
      color: #cccccc;
      font-size: (20/16) + em;  
      .icon-star {
        color: #fecd5f;  
      }
    }
  }
}

.post {
  margin-right: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  box-shadow: 0 2px 0 rgba(204,204,204,.15);
  margin-bottom: 20px;
  .post-image{ 
    display: block;
  }
  .icon-attachment {
    color: #fff;  
  }
  .details {
    position: relative;
    background: #fff;
    text-align: center;
    padding: 0 10px 10px;
    h2 {
      font-size: (14.5/16) + em;
      font-weight: 600;
      color: #696969;
      margin: 0;
      padding: 5px 0;
    }
    p {
      font-size: (13/16) + em;
      color: #aaaaaa;
      margin: 0 0 5px;
      padding: 0;
    }
    .intents {
      text-align: right;
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: (11/16) + em;
      color: #aaaaaa;
      line-height: 14px;
      [class*="icon-"] {
        font-size: 14px;
      }
      .count {
        line-height: 14px;
        display: inline-block;
        position: relative;
        top: -3px;
        margin: 0 5px;
      }
      
    }
  }  
  .actions {
    height: 20px;
    [class*="icon-"] {
      font-size: 18px;
      font-weight: normal;
    }
    .btn-round {
      position: relative;
      border-radius: 50%; 
      padding: 10px 0;
      width: 38px;
      height: 38px;
      top: -19px;
      text-align: center;
    }
  }
  &.post-blog {
    .details {
      font-family: 'Open Sans', sans-serif;
      padding: 10px 20px;
      text-align: left;  
      h2 {
        font-size: (22/16) + em;
        font-weight: 300;
      }
      strong {
        color: #888888;  
      }
    }
  }
  &.post-product {
    .details {
      text-align: left;
      padding: 0 20px 20px;
    }
    .product-actions {
      margin: 20px 0 0;
    }
    .download-count {
      margin: 0 20px;
    }
  }
}
.user-avatar {
	display: inline-block;
	float:left;
	width: 50px;
	height: 50px;
	margin: 5px;
	line-height: 50px;
	border-radius: 50%;
	background-size: cover;
	font-weight: 100;
	font-size: 18px;
	text-align: center;
	text-shadow: 0 0 2px rgba(0,0,0,.9);
	color: white;
	&.-initial {
	  background-color: black;
	}
	&.-large {
	  width: 64px;
	  height: 64px;
	  line-height: 64px;
	  font-size: 32px;
	}
	&.-medium {
	  width: 48px;
	  height: 48px;
	  line-height: 48px;
	  font-size: 24px;
	}
	&.-small {
	  width: 24px;
	  height: 24px;
	  line-height: 24px;
	  font-size: 12px;
	}
	&.-icon {
	  width: 16px;
	  height: 16px;
	  line-height: 16px;
	  font-size: 8px;
	  font-weight: normal;
	}
	&.-online-ring {
	  box-shadow: inset 0 0 0 2px white;
	}
	&.-online-bubble {
	  position: relative;
	  &:after {
		content: "";
		width: 18px;
		height: 18px;
		background: white;
		border: 3px solid #fff;
		display: inline-block;
		position: absolute;
		top: 70%;
		left: 72%;
		border-radius: 50%;
	  }
	}
  }
  .col-md-12 {
	padding:10px;
  }

h2 {
  text-align: center;
}

h2.background {
    position: relative;
    z-index: 1;
    
    &:before {
        border-top: 2px solid #dfdfdf;
        content:"";
        margin: 0 auto; /* this centers the line to the full width specified */
        position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
        top: 50%; left: 0; right: 0; bottom: 0;
        width: 95%;
        z-index: -1;
    }

    span { 
        /* to hide the lines from behind the text, you have to set the background color the same as the container */ 
        background: #fff; 
        padding: 0 15px; 
    }
}

h2.double:before { 
    /* this is just to undo the :before styling from above */
    border-top: none; 
}

h2.double:after {
    border-bottom: 1px solid rgb(230,74,25);
    -webkit-box-shadow: 0 1px 0 0 red;
    -moz-box-shadow: 0 1px 0 0 red;
    box-shadow: 0 1px 0 0 red;
    content: "";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute;
    top: 45%; left: 0; right: 0;
    width: 95%;
    z-index: -1;
}

h2.no-background {
    position: relative;
    overflow: hidden;
    
    span {
        display: inline-block;
        vertical-align: baseline;
        zoom: 1;
        *display: inline;
        *vertical-align: auto;
        position: relative;
        padding: 0 20px;

        &:before, &:after {
            content: '';
            display: block;
            width: 1000px;
            position: absolute;
            top: 0.73em;
            border-top: 1px solid red;
        }

        &:before { right: 100%; }
        &:after { left: 100%; }
    }
}

h2.no-span {
    display: table;
    white-space: nowrap;
    &:before, &:after {
      border-top: 1px solid green;
      content: '';
      display: table-cell;
      position: relative;
      top: 0.5em;
      width: 45%;
    }
    &:before { right: 1.5%; }
    &:after { left: 1.5%; }
}