<body>
  <link
    href="https://fonts.googleapis.com/css?family=Rubik&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
    rel="stylesheet"
  />
  
  <script
    src="https://kit.fontawesome.com/af562a2a63.js"
    crossorigin="anonymous"
  ></script>
  <meta name="viewport" content="width=device-width" />

  <main class="hero">
    <section class="container">
      <!-- article -->
      <article>
        <!-- title -->
        <h1 class="title-hero">By the community, for the community</h1>
        <!-- subtitle -->
        <p class="sub-title-hero">
          We give you the power to monetize your parking spot.
        </p>
        <div class="btn-container">
          <!-- buttons call to action -->
          <a routerLink="/signup" class="btn btn-hero">
            <i class="fas fa-arrow-right"></i> Sign Up/Login</a
          >
          <a routerLink="/about" class="btn btn-hero btn-outline">
            <i class="fas fa-arrow-right"></i> Learn More</a
          >
        </div>
      </article>
      <!-- figure -->
      <figure>
        <img src="./../../assets/iphonemock.png" alt="description" />
        <figcaption>description</figcaption>
      </figure>
    </section>
  </main>


  <!-- <div style="background-color: #222222; width: 100%" class="container text-center py-5" id="features">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <i class="fas text-danger fa-pencil-alt fa-3x py-4"></i>
          <h6 class="text-uppercase">Easily customised</h6>
          <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis beatae quae dolores ratione omnis recusandae
            voluptatum nihil ipsa quas repellat!</p>
        </div>
        <div class="col-lg-4 col-md-6">
          <i class="fas text-danger fa-desktop fa-3x py-4"></i>
          <h6 class="text-uppercase">Responsive Ready</h6>
          <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur quisquam modi culpa, illum a reiciendis
            libero cupiditate aliquam voluptatibus id!</p>
        </div>
        <div class="col-lg-4 col-md-6">
          <i class="fas text-danger fa-lightbulb fa-3x py-4"></i>
          <h6 class="text-uppercase">Modern Design</h6>
          <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur quisquam modi culpa, illum a reiciendis
            libero cupiditate aliquam voluptatibus id!</p>
        </div>
        <div class="col-lg-4 col-md-6">
          <i class="fas text-danger fa-code fa-3x py-4"></i>
          <h6 class="text-uppercase">Clean Code</h6>
          <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur quisquam modi culpa, illum a reiciendis
            libero cupiditate aliquam voluptatibus id!</p>
        </div>
        <div class="col-lg-4 col-md-6">
          <i class="fas text-danger fa-shipping-fast fa-3x py-4"></i>
          <h6 class="text-uppercase">Ready to ship</h6>
          <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur quisquam modi culpa, illum a reiciendis
            libero cupiditate aliquam voluptatibus id!</p>
        </div>
        <div class="col-lg-4 col-md-6">
          <i class="fas text-danger fa-download fa fa-3x py-4"></i>
          <h6 class="text-uppercase">Download for free</h6>
          <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur quisquam modi culpa, illum a reiciendis
            libero cupiditate aliquam voluptatibus id!</p>
        </div>
      </div>
    </div> -->
</body>
