<body>
  <link
    href="https://fonts.googleapis.com/css?family=Rubik&display=swap"
    rel="stylesheet"
  />
  <script
    src="https://kit.fontawesome.com/af562a2a63.js"
    crossorigin="anonymous"
  ></script>
  <meta name="viewport" content="width=device-width" />

  <main class="hero">
    <section class="container">
      <!-- article -->
      <article>
        <!-- title -->
        <h1 class="title-hero">By the community, for the community</h1>
        <!-- subtitle -->
        <p class="sub-title-hero">
          We give you the power to monetize your parking spot.
        </p>
        <div class="btn-container">
          <!-- buttons call to action -->
          <a href="/signup" class="btn btn-hero">
            <i class="fas fa-arrow-right"></i> Sign Up/Login</a
          >
          <a href="/about" class="btn btn-hero btn-outline">
            <i class="fas fa-arrow-right"></i> Learn More</a
          >
        </div>
      </article>
      <!-- figure -->
      <figure>
        <img src="./../../assets/iphonemock.png" alt="description" />
        <figcaption>description</figcaption>
      </figure>
    </section>
  </main>
</body>
