p {
  text-align: center;
  color: white;
  padding: 20px;
  margin-top: 20px;
  font-size: 25px;
}

body {
  margin: -25px;
  min-height: 500px;
  background-color: #212121;
}

h3 {
  text-align: center;
  color: white;
  padding: 50px;
  margin-top: 20px;
  font-size: 50px;

  -webkit-animation: slideIn 2s forwards;
  -moz-animation: slideIn 2s forwards;
  animation: slideIn 2s forwards;
}
@-webkit-keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
