<body>
  <link
    href="https://fonts.googleapis.com/css?family=Rubik&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
    rel="stylesheet"
  />
  
  <script
    src="https://kit.fontawesome.com/af562a2a63.js"
    crossorigin="anonymous"
  ></script>
  <meta name="viewport" content="width=device-width" />

  <main class="hero">
    <section class="container">
      <!-- article -->
      <article>
        <!-- title -->
        <h1 class="title-hero">By the community, for the community</h1>
        <!-- subtitle -->
        <p class="sub-title-hero">
          We give you the power to monetize your parking spot.
        </p>
        <div class="btn-container">
          <!-- buttons call to action -->
          <a routerLink="/signup" class="btn btn-hero">
            <i class="fas fa-arrow-right"></i> Sign Up/Login</a
          >
          <a routerLink="/about" class="btn btn-hero btn-outline">
            <i class="fas fa-arrow-right"></i> Learn More</a
          >
        </div>
      </article>
      <!-- figure -->
      <figure>
        <img src="./../../assets/iphonemock.png" alt="description" />
        <figcaption>description</figcaption>
      </figure>
    </section>
  </main>

  
<div id="hero-slides">
    <div style="color: white; font-size: 24px; font-family: rebu;" id="header">Popular Locations
 
      <div style="visibility: hidden;" id="menu">
        <div id="hamburger">
          <div class="slice"></div>
          <div class="slice"></div>
          <div class="slice"></div>
        </div>
      </div>
    </div>
    <div id="slides-cont">
      <div class="button" id="next"></div>
      <div class="button" id="prev"></div>
      <div id="slides">
        <div class="slide" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5e/Newark_DE_Main_Street.jpg);">
          <div class="number">01</div>
          <div class="body">
            <div class="location">Korey Mitchell</div>
            <div class="headline">Newark, DE</div><a routerLink="/spots">
              <div class="link">Tap for more info</div></a>
          </div>
        </div>
        <div class="slide" style="background-image: url(https://www.brookfieldpropertiesretail.com/content/dam/ggp-digital-assets/Images/Mall-Images/Exteriors/christiana-hero-01.jpg/_jcr_content/renditions/original.jpg);">
          <div class="number">02</div>
          <div class="body">
            <div class="location">Korey Mitchell</div>
            <div class="headline">Wilmington, DE</div><a routerLink="/spots">
              <div class="link">Tap for more info</div></a>
          </div>
        </div>
        <div class="slide" style="background-image: url(https://images.ctfassets.net/92fo1e671z6m/7aPs2fBxvrHkEhFAD3LDqS/7951b498eda8e64180f108ef4f891dfc/philadelphia_masthead.jpg?w=2500&q=50);">
          <div class="number">03</div>
          <div class="body">
            <div class="location">Korey Mitchell</div>
            <div class="headline">Philadelphia, PA</div><a routerLink="/spots">
              <div class="link">Tap for more info</div></a>
          </div>
        </div>
        <div class="slide" style="background-image: url(https://g5-assets-cld-res.cloudinary.com/image/upload/q_auto,f_auto,fl_lossy/g5/g5-c-j1fayld7-edgewood-management-client/g5-cl-1gw3ard6co-city-place-on-the-avenue/uploads/hero.jpg);">
          <div class="number">04</div>
          <div class="body">
            <div class="location">Korey Mitchell</div>
            <div class="headline">Baltimore, MD</div><a routerLink="/spots">
              <div class="link">Tap for more info</div></a>
          </div>
        </div>
        <div class="slide" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/25/Dover_Delaware.jpg);">
          <div class="number">05</div>
          <div class="body">
            <div class="location">Korey Mitchell</div>
            <div class="headline">Dover, DE</div><a routerLink="/spots">
              <div class="link">Tap for more info</div></a>
          </div>
        </div>
        <div class="slide" style="background-image: url(https://assets.simpleviewinc.com/simpleview/image/upload/c_limit,h_1200,q_75,w_1200/v1/clients/delaware/Rehoboth-Beach-Delaware-Boardwalk-at-Dolles-_cd031cae-b827-3bef-50bc0631ab0be982.jpg);">
          <div class="number">06</div>
          <div class="body">
            <div class="location">Korey Mitchell</div>
            <div class="headline">Rehoboth, DE</div><a routerLink="/spots">
              <div class="link">Tap for more info</div></a>
          </div>
        </div>
        <div class="slide" style="background-image: url(https://www.debbiereed.com/realestate/images/listing_photos/DESU133218-301629212562-2019-04-09-13-21-17.jpg);">
          <div class="number">07</div>
          <div class="body">
            <div class="location">Korey Mitchell</div>
            <div class="headline">Dewey, DE</div><a routerLink="/spots">
              <div class="link">Tap for more info</div></a>
          </div>
        </div>
      </div>
      <div id="next-catch"></div>
      <div id="prev-catch"></div>
    </div>
    <div style="visibility: hidden;" id="footer"><a href="https://dribbble.com/shots/3888265-Motion-Study">
        <div id="dribbble"></div></a></div>
  </div>


  <!-- <div style="background-color: #222222; width: 100%" class="container text-center py-5" id="features">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <i class="fas text-danger fa-pencil-alt fa-3x py-4"></i>
          <h6 class="text-uppercase">Easily customised</h6>
          <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis beatae quae dolores ratione omnis recusandae
            voluptatum nihil ipsa quas repellat!</p>
        </div>
        <div class="col-lg-4 col-md-6">
          <i class="fas text-danger fa-desktop fa-3x py-4"></i>
          <h6 class="text-uppercase">Responsive Ready</h6>
          <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur quisquam modi culpa, illum a reiciendis
            libero cupiditate aliquam voluptatibus id!</p>
        </div>
        <div class="col-lg-4 col-md-6">
          <i class="fas text-danger fa-lightbulb fa-3x py-4"></i>
          <h6 class="text-uppercase">Modern Design</h6>
          <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur quisquam modi culpa, illum a reiciendis
            libero cupiditate aliquam voluptatibus id!</p>
        </div>
        <div class="col-lg-4 col-md-6">
          <i class="fas text-danger fa-code fa-3x py-4"></i>
          <h6 class="text-uppercase">Clean Code</h6>
          <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur quisquam modi culpa, illum a reiciendis
            libero cupiditate aliquam voluptatibus id!</p>
        </div>
        <div class="col-lg-4 col-md-6">
          <i class="fas text-danger fa-shipping-fast fa-3x py-4"></i>
          <h6 class="text-uppercase">Ready to ship</h6>
          <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur quisquam modi culpa, illum a reiciendis
            libero cupiditate aliquam voluptatibus id!</p>
        </div>
        <div class="col-lg-4 col-md-6">
          <i class="fas text-danger fa-download fa fa-3x py-4"></i>
          <h6 class="text-uppercase">Download for free</h6>
          <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur quisquam modi culpa, illum a reiciendis
            libero cupiditate aliquam voluptatibus id!</p>
        </div>
      </div>
    </div> -->
</body>
